<html>
"Does this belong to you?"

<div id="found">
  <ul>
    <% @pets.each do |pet| %>
    <li>
      <% if pet.avatar.exists? %>
      <%= image_tag pet.avatar.url(:medium), {:class => "pet-show-image"} %>
      <% end %>
      <li><p> <%= pet.name %></p></li>
      <p> <%= pet.description %></p>
      <p> <%= pet.zip %></p>
    </li>
    <% end %>
  </ul>
</div>
</html>
