<html>
<div class="page-container">
<h2>Does this belong to you?</h2>

<div id="found">
  <ul>
    <% @pets.each do |pet| %>
    <div class="found-pet">
      <% if pet.avatar.exists? %>
      <%= image_tag pet.avatar.url(:medium), {:class => "pet-show-image"} %>
      <% end %>
      <p> <%= pet.name %></p>
      <p> <%= pet.description %></p>
      <p> <%= pet.zip %></p>
    </div>
    <% end %>
  </ul>
</div>
</div>
</html>
