ul.found-pet-list {
  list-style-type: none;
  padding:0;
  overflow: hidden;
}

.found-pet {
  width: 345px;
  float: left;
  margin: 10px;
}

#found {
  width: 85%;
  margin: 0 auto;
}

p.found-name {
  font-size: 20px;
}

p.found-description {
  font-size: 17px;
}

.found-pet-show-image {
  display: block;
  margin:10px auto;
}
