ul.lost-pet-list {
  list-style-type: none;
  padding:0;
  overflow: hidden;
}

.lost-pet {
  width: 325px;
  float: left;
  margin: 10px;
}

#lost {
  width: 85%;
  margin: 0 auto;
}

.lost-pet-show-image {
  width: 300px;
  height: 235px;
  margin: 5px;
  padding: 10px;
  display: block;
  margin:10px auto;
}

p.lost-name {
  font-size: 20px;
}

p.lost-description {
  font-size: 17px;
}
