ul.show-pet-list {
  list-style-type: none;
  padding:0;
  overflow: hidden;
}

li.show-pet {
  float: left;
  margin: 25px;
}

.show-pet-show-image {
  display: block;
  margin:10px auto;
  padding: 10px;
  }

p.shelter-name {
  font-size: 20px;
}

p.show-description {
  font-size: 17px
}
